<!doctype html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="ru"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="ru"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="ru"><![endif]-->
<!--[if gt IE 8]><!--><html lang="ru"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Positive technologies task</title>

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/framework.css') }}">
	<!--[if lt IE 9]>
		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
		<div class="f-nav-bar">
	<div class="f-nav-bar-body">
		<div class="f-nav-bar-title">
			<a href="#">65 kaf</a>
		</div><!-- f-nav-bar-title -->
		<ul class="f-nav">
			<li><a href="index.html">Главная</a></li>
			<li><a href="odin.html">Классификатор</a></li>
			<li><a href="dva.html">...</a></li>
			<li><a href="tri.html">Показать статистику</a></li>
		</ul><!-- f-nav -->
	</div><!-- f-nav-bar-body -->
		</div><!-- f-nav-bar -->
	<div class="g">
		<div class="g-row">
			<header>

			</header>
		</div><!-- g-row -->
		<div class="g-row">
			<aside class="g-4">

			</aside><!-- g-4 -->
			<article class="g-8">

			</article><!-- g-8 -->
		</div><!-- g-row -->
		<div class="g-row">
			<footer>

			</footer>
		</div><!-- g-row -->
	</div><!-- g -->
</body>
</html>