<!doctype html>
<!--[if lt IE 7]><html class="lt-ie9 lt-ie8 lt-ie7" lang="ru"><![endif]-->
<!--[if IE 7]><html class="lt-ie9 lt-ie8" lang="ru"><![endif]-->
<!--[if IE 8]><html class="lt-ie9" lang="ru"><![endif]-->
<!--[if gt IE 8]><!--><html lang="ru"><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Positive technologies task</title>

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/framework.css') }}">
	<!--[if lt IE 9]>
		<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
		<div class="f-nav-bar">
	<div class="f-nav-bar-body">
		<div class="f-nav-bar-title">
			<a href="#">65 kaf</a>
		</div><!-- f-nav-bar-title -->
		<ul class="f-nav">
			<li class="active"><a href="index.html">Главная</a></li>
			<li><a href="odin.html">Классификатор</a></li>
			<li><a href="dva.html">...</a></li>
			<li><a href="tri.html">Показать статистику</a></li>
		</ul><!-- f-nav -->
	</div><!-- f-nav-bar-body -->
		</div><!-- f-nav-bar -->
	<div class="g">
		<div class="g-row">
			<div class="g-12">
				<div class="g-row">
					<div class="g-row">
						<div class="g-12">&nbsp</div>
												</div>
					<div class="g-2">&nbsp</div>
					<div class="g-4"><header><H1>Результаты анализа</H1></header></div>
					<div class="g-2">&nbsp</div>
					</div>
		</div><!-- g-row --></div>
		<div class="g-row">
			    <div class="g-row f-gallery">
					<div class="f-col-2">
						<div class="f-column">
						<div class="g-2 f-gallery-item">
						<a href="#"><img src={{d1.adres}} width="370" height="208" alt="pic" />
 						<h3>До обучения</h3></a>
						</div><!-- f-gallery-item -->
						</div><!-- f-column -->
						<div class="f-column">
						<div class="g-8 f-gallery-item">
						<a href="#"><img src={{d2.adres}} width="370" height="208" alt="pic" />
 						<h3><mark>После обучения</mark></h3></a>
						</div><!-- f-gallery-item -->
						</div><!-- f-column -->
					</div><!-- f-col-2 -->
				</div><!-- f-gallery -->
			<div class="g-row>">
			<div class="f-col-2">
				<div class="f-column">
				<div class="g-4">
				<button class="f-bu">Button</button>
				</div></div>
			<div class="f-column">
			<div class="g-4">
				<div class="f-message">
				<span class="close"></span>
				&nbsp; &nbsp; &nbsp;<strong>Внимание</strong>, текст простого сообщения
				</div><!--f-message -->
				</div></div></div>
			</div><!-- g-8 -->
			</div>
			</div>
		</div><!-- g-row -->

		<div class="g-row">

		</div><!-- g-row -->
	</div><!-- g -->
</body>
</html>